// 37. Custom
// -----------
$mobile-medium: "(max-width: 640px)";
$max-medium: "(max-width: 1024px)";
$height-large: "(max-height: 800px)";

// 色
$white_01: #fff;
$black_01: #000;

$alternative_font: 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
$alternative_jp_font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
